/* Google Fonts used in this stylesheet:

      font-family: 'Chicle', cursive;
      font-family: 'Signika', sans-serif;
      font-family: 'Timmana', sans-serif;

*/

body {
  background-color: #333333;
  background-image: url("../images/page_bg.png");
  background-position: left top;
  background-repeat: repeat;
}

.flex-container {
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-container {
  display: block;
}

/* TOP AREA */

#top-area {
  width: 640px;
  background-color: #110011;
  background-image: url("../images/top_section_bg.png");
  background-position: left top;
  background-repeat: repeat;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: yellow;
  margin-top: 30px;
}

.top-text {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
}

.text-input {
  color: #110011;
  font-family: monospace;
  font-size: 20px;
}

#p-get-weather-button {
  text-align: center;
}

#get-weather-btn {
  background-color: #390039;
  color: lemonchiffon;
  padding: 4px 20px 4px 20px;
  font-family: "Signika", sans-serif;
  font-size: 18px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  outline: none;
}

#get-weather-btn:hover {
  background-color: #440044;
  box-shadow: 0px 0px 5px black;
  font-weight: 600;
  cursor: pointer;
}

#get-weather-btn:active {
  background-color: #330033;
  box-shadow: -2px -2px 5px black;
}

/* MAIN AREA */

#main-area {
  width: 640px;
  background-color: #330033;
  background-image: url("../images/main_section_bg.png");
  background-position: left top;
  background-repeat: repeat;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: lightyellow;
  margin-bottom: 15px;
  font-family: "Signika", sans-serif;
  padding-bottom: 25px;
}

#city-title {
  /* font-family: "Chicle", cursive; */
  font-family: "Signika", sans-serif;
  font-weight: 300;
  /* letter-spacing: 1px; */
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#current-sun-row {
  margin: 10px 25px 5px 25px;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#wind-vis-row {
  margin: 5px 25px 5px 25px;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#two-columns {
  margin: 10px 25px 5px 25px;
  flex-flow: nowrap;
  justify-content: space-around;
  padding-top: 20px;
}

#temperatures-column {
  background-color: #440044;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
}
#four-day-column {
  background-color: #440044;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
}

.dimmed-color {
  color: #666666;
}

.weather-icon {
  float: left;
  height: 25px;
  width: 25px;
}
